.add-to-cart{
  width: 100vw;
  header{
    padding:0em 0.2em;
    overflow: hidden; 
    text-align: center;
    .header-div{
      padding:0em 0.3em;
	    display: block;
      height:2em;
        .all-items{
          float:left;
        }
        .item-added{
          display:inline-block;
          text-align: center;
          border-color: #1e7e34;
          background-color: #218838;
          color: #fff;

        }
        .go-to-cart{
          float:right;
        }
    }
    .btn{
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .075rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
   
  }
  .items{
    padding:1em 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .item{
      border: 0.09em gray solid;
      margin: 1em;
      .discount{
        font-size: 0.6em;
      }
      .image{
          width: 16vw;
          height: 34vh;
          text-align: center;
          background-color: #eee;
          display: inline-block;
          margin: 1.5em 1.5em 2em 0em;
      }
      .details{
         background-color: #eee;
        .name{
          display: block;
        }
      }
    }
  }

}