.orders{
	width: 100vw;
	padding: 1em;
	header{
		div{
			.go-back{
				margin-left:0.5em;
			}
			.order-heading{
				margin-left: 1em;
			}
		}
	}
	.order-summary{
		display:inline-block;
		width: 75vw;
		clear: both;
    .Table
    {
        display: table;
    }
   
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
       // border: solid;
       // border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
	}
	.order-total{
		display: inline-block;
		width: 20vw;
	}
}