.orders{
	width: 100vw;
	padding: 1em;
	header{
		div{
      a{
        text-decoration: none;
      }
			.go-back{
				margin-left:0.5em;
			}
			.order-heading{
				margin-left: 1em;
			}
		}
	}
	.Table
	{
		display: table;
		width: 100%;
    border-collapse: separate;
		//border-spacing: 0 1em;
		.name{
			width: 50%;
		}
		.qty{
			width: 25%;
		}
		.price{
			width: 25%;
		}
	}
   
	.Heading
	{
		display: table-row;
		font-weight: bold;
		text-align: center;
    .name{
			width: 50%;
      border-top: 0.05em gray solid;
		}
		.qty{
			width: 25%;
      border-top: 0.05em gray solid;
		}
		.price{
			width: 25%;
      border-top: 0.05em gray solid;
		}
	}
	.Row
	{
		display: table-row;
	}
	.Cell
	{
		display: table-cell;
	   // border: solid;
	   // border-width: thin;
		padding-left: 5px;
		padding-right: 5px;
	}
	.order-summary{
		float:left;
		width: 69%;
    .Table{
      border-spacing: 0 1em;
    }
		.item-image{
			width: 10%;
			height: 10%;
			text-align: center;
			background-color: #eee;
			display: inline-block;
			margin: 1.5em 1.5em 2em 0em;
			font-size: 0.2em;
			line-height: 1em;
			padding: 1em;
		}
		.item{
			border: 0.05em gray solid;
		}
		.item-name{
			position: absolute;
			margin-top: 1.6em;
			
		}
		.item-remove{
			float: right;
			vertical-align: middle;
			margin-top: 1.5em;
			cursor: pointer;
		}
		.add-remove-item{
			text-align: center;
			vertical-align: middle;
			button{
				margin: 0.5em;
			}
		}
		.item-price{
			text-align: center;
			vertical-align: middle;
      font-weight: bold;
		}
	}
	.order-total{
		float: left;
		width: 28%;
		border: 0.05em gray solid;
		margin-left: 1.9%;
    .Table{
      .title{
        font-weight: bold;
      }
      div.Row:nth-last-child(1) {
        background: #eee;
        div.Cell:nth-last-child(1){
          font-weight: bold;
        }  
      }   
    }
	}
}