h1, p {
  font-family: Lato;
}
body{
  /*display: flex;*/
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  align-items: center;
}
#root {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 575px) {
  #root {
    display: block;
  }
}